.flipper_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flipper_title {
    text-transform: uppercase;
}

button {
    border: none;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.flip-button {
    margin-top: 20px;
    background-color: crimson;
    color: white;
}

.flip-button:disabled {
    background-color: rgb(247, 85, 118);
}

.flip-button:hover {
    background-color: rgb(255, 27, 72);
    transition: 0.3s;
}

.reset-button {
    background-color: gainsboro;
    color: black;
}

.reset-button:disabled {
    background-color: rgb(243, 243, 243);
}

.reset-button:hover {
    background-color: rgb(238, 238, 238);
    transition: 0.3s;
}

.winner {
    border-bottom: 2px solid green;
}